<section>
    <div class="section-part">

        <div class="row">
            <div class=" col-sm-6 mb-2 mt-3 ">
                <h1>Pocket Questions</h1>
                <div class="overlay__btns text-end">
                    <div>
                        <p class="overlay__description" >
                            <i class="mx-2">{{dateText}}</i>
                            <button class="btn btn-outline-light btn-sm " >copy</button>
                        </p>
                        <button class="btn btn-outline-light btn-sm mt-3" (click)="generateDateQs()">Generate <i
                                class="fas fa-cog fa-spin"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>