<h1>Steps</h1>
<h5>Get a date</h5>
<p>Why to get a date?</p>

<h4>During the Date</h4>
<ol>
    <li>Drop sexual hint throughout the night</li>
    <ul>
        <li>Don't be ashamed about wanting to have sex with someone. It is a nice compliment.</li>
        <li>Compliment her on the way she look; let her know that you are attracted to her</li>
    </ul>
    <li>Ask if they have plans in the morning</li>
    <li>Talk about sex</li>
    <ul>
        <li>Talk about what you like</li>
        <li>Share funny sex stories</li>
    </ul>
    <li>Initiate touch</li>
    <li>touch upper arm or the back of their hand to initiate contact. It's sweet, subtle and low-pressure way to let
        them know you are interested in connecing physically with them.</li>
    <li>Invitem them to Sleepover</li>
    <ul>
        <li>"Hey, I like the time spent with you tonight and I'd love to continue this at my place."</li>
    </ul>

</ol>


<section>
<p> references</p><br/>
<a href="https://www.elitedaily.com/p/5-things-to-do-on-a-first-date-thatll-probably-lead-to-a-hookup-7517807">Elite Daily</a>
<br/>
<a href="https://thepowermoves.com/how-to-invite-a-girl-over-to-your-house/">The Power Moves</a>
</section>