nav {
    margin: 2rem auto  8rem;
    padding: 0 auto;
    width: auto;
}

 
@media screen and (max-width: 390px) {
  
    .outer-container {
      margin-top: 5rem;
      
    }
    .overlay {
      padding: 2rem;
    }
  }