

   <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Gidem</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/system">System</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/date">Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hookup">Hook Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/text">Text Mode</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
