/* You can add global styles to this file, and also import other style files */
* {
    touch-action: manipulation;
  }
  
  html, body {
        //prevents horizontal srolling
        background-color: #14111C;
   
        overflow-x: hidden;
        -webkit-font-smoothing: antialiased; // Soothes the font for retina displays
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
        background-image: url("./assets/img/bg.png");

      width: 100%;
  

      background-size: 300% 300%;
   
      animation: AnimateBG 20s ease infinite;
        
    }
   
   
    
    @media screen and (max-width: 570px) {
      html, body {
        width: 100%;
        overflow-x: hidden;
      }
    
      body {
        padding: 1.5rem;
      }
  }
  
  
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }