/* You can add global styles to this file, and also import other style files */
* {
    touch-action: manipulation;
  }
  
  html, body {
      overflow-x: hidden;
      overflow: auto;
        margin: 0 auto;
  
  
      position: relative;
      background-color:  #e8eaec;
      font-family: 'Manrope', sans-serif;
      width: 100%;
  
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 300% 300%;
      background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
      );  
      animation: AnimateBG 20s ease infinite;
        
    }
   
   
    
    @media screen and (max-width: 570px) {
      html, body {
        width: 100%;
        overflow-x: hidden;
      }
    
      body {
      
        padding: 1.5rem;
      }
  }
  
  
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }